<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="home" value="https://www.bodyform.co.uk/"/>
    <add key="contactUs" value="https://www.bodyform.co.uk/contact-us/"/>
    <add key="periodTracker" value="https://www.bodyform.co.uk/period-tracker/"/>
    <add key="expertAdvice" value="https://www.bodyform.co.uk/break-taboos/discover/expert-advice/"/>
    <add key="productCategoryPage" value="https://www.bodyform.co.uk/shop-our-products/available-in-store/"/>
    <add key="productLandingPage" value="https://www.bodyform.co.uk/shop-our-products/available-in-store/ultra-towels/"/>
    <add key="productDetailPage" value="https://www.bodyform.co.uk/shop-our-products/available-in-store/ultra-towels/ultra-towels-normal-wings/"/>
    <add key="promotionForm" value="https://www.bodyform.co.uk/break-taboos/take-action/subscribe-newsletter/"/>
  </appSettings>
</configuration>